@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glowing border effect */
.glowing-input-border {
  position: relative;
}

.glowing-input-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(
    45deg,
    #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000
  );
  background-size: 400% 400%;
  border-radius: 10px;
  animation: glowing-border 20s linear infinite;
}

.glowing-textarea-border {
  position: relative;
}

.glowing-textarea-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(
    45deg,
    #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000
  );
  background-size: 400% 400%;
  border-radius: 10px;
  animation: glowing-border 20s linear infinite;
}